@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Employee>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    @foreach (var p in Model)
    {
        <tr><td>@p.FullName</td><td>@p.Balance</td><td>@p.Id</td></tr>
    }
</table>


